1. Import Libraries and Dataframes
2. Groupby Function
3. Aggregate Function
4. Peform aggregates
5. Aggregate data with transform
6. Create Loyalty Flag

In [1]:
#import libraries
import pandas as pd
import numpy as np
import os

In [2]:
#Define path
path = r'/Users/joshd/Documents/Personal/CareerFoundry/Instacart Basket Analysis'

In [5]:
#upload ords products merge file
ords_prods_merge = pd.read_pickle(r'/Users/joshd/Documents/Personal/CareerFoundry/Instacart Basket Analysis/02 Data/Prepared Data/orders_products_merged.pkl')

In [6]:
#create subset
df = ords_prods_merge[:1000000]

In [7]:
#check shape
df.shape

(1000000, 21)

In [8]:
df.head(10)

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0.1,Unnamed: 0_y,order_id,user_id,...,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,exists,price_range_loc,busiest_day,busiest_period_of_the_day
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,1987,3139998,138,...,6,11,3.0,5,0,both,both,Mid-range product,Regularly busy,Most orders
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1989,1977647,138,...,6,17,20.0,1,1,both,both,Mid-range product,Regularly busy,Average orders
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,11433,389851,709,...,0,21,6.0,20,0,both,both,Mid-range product,Busiest day,Average orders
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,12198,652770,764,...,3,13,0.0,10,0,both,both,Mid-range product,Second to Least busy,Most orders
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,12200,1813452,764,...,4,17,9.0,11,1,both,both,Mid-range product,Least busy,Average orders
5,0,1,Chocolate Sandwich Cookies,61,19,5.8,12372,12372,1701441,777,...,1,7,26.0,7,0,both,both,Mid-range product,Second busiest busy,Average orders
6,0,1,Chocolate Sandwich Cookies,61,19,5.8,13096,13096,1871483,825,...,2,14,30.0,2,0,both,both,Mid-range product,Regularly busy,Most orders
7,0,1,Chocolate Sandwich Cookies,61,19,5.8,14603,14603,1290456,910,...,3,10,30.0,1,0,both,both,Mid-range product,Second to Least busy,Most orders
8,0,1,Chocolate Sandwich Cookies,61,19,5.8,17065,17065,369558,1052,...,1,20,19.0,1,0,both,both,Mid-range product,Second busiest busy,Average orders
9,0,1,Chocolate Sandwich Cookies,61,19,5.8,17070,17070,589712,1052,...,1,12,15.0,2,1,both,both,Mid-range product,Second busiest busy,Most orders

In [9]:
#groupby function
df.groupby('product_name')

In [10]:
#aggreate function
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.577493
2                17.320781
3                16.084944
4                17.530458
5                14.763075
6                16.658449
7                17.031590
8                15.076662
9                15.447580
10               18.681852
11               15.447411
12               14.327957
13               16.548642
14               16.960241
15               16.121948
16               17.803851
17               15.593633
18               19.674252
19               16.899756
20               16.255442
21               25.535479

In [11]:
#test mean function
df.groupby('department_id')['order_number'].mean()

department_id
1     15.577493
2     17.320781
3     16.084944
4     17.530458
5     14.763075
6     16.658449
7     17.031590
8     15.076662
9     15.447580
10    18.681852
11    15.447411
12    14.327957
13    16.548642
14    16.960241
15    16.121948
16    17.803851
17    15.593633
18    19.674252
19    16.899756
20    16.255442
21    25.535479
Name: order_number, dtype: float64

In [12]:
#mean with a period
df.groupby('department_id').order_number.mean()

department_id
1     15.577493
2     17.320781
3     16.084944
4     17.530458
5     14.763075
6     16.658449
7     17.031590
8     15.076662
9     15.447580
10    18.681852
11    15.447411
12    14.327957
13    16.548642
14    16.960241
15    16.121948
16    17.803851
17    15.593633
18    19.674252
19    16.899756
20    16.255442
21    25.535479
Name: order_number, dtype: float64

In [13]:
#perform multiple aggregations
df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
1                15.577493   1  99
2                17.320781   1  96
3                16.084944   1  99
4                17.530458   1  99
5                14.763075   1  99
6                16.658449   1  99
7                17.031590   1  99
8                15.076662   1  98
9                15.447580   1  99
10               18.681852   1  99
11               15.447411   1  99
12               14.327957   1  99
13               16.548642   1  99
14               16.960241   1  99
15               16.121948   1  99
16               17.803851   1  99
17               15.593633   1  99
18               19.674252   1  99
19               16.899756   1  99
20               16.255442   1  99
21               25.535479   1  98

In [14]:
#aggregate data with transform
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [15]:
ords_prods_merge.head(15)

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0.1,Unnamed: 0_y,order_id,user_id,...,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,exists,price_range_loc,busiest_day,busiest_period_of_the_day,max_order
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,1987,3139998,138,...,11,3.0,5,0,both,both,Mid-range product,Regularly busy,Most orders,32
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1989,1977647,138,...,17,20.0,1,1,both,both,Mid-range product,Regularly busy,Average orders,32
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,11433,389851,709,...,21,6.0,20,0,both,both,Mid-range product,Busiest day,Average orders,5
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,12198,652770,764,...,13,0.0,10,0,both,both,Mid-range product,Second to Least busy,Most orders,3
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,12200,1813452,764,...,17,9.0,11,1,both,both,Mid-range product,Least busy,Average orders,3
5,0,1,Chocolate Sandwich Cookies,61,19,5.8,12372,12372,1701441,777,...,7,26.0,7,0,both,both,Mid-range product,Second busiest busy,Average orders,26
6,0,1,Chocolate Sandwich Cookies,61,19,5.8,13096,13096,1871483,825,...,14,30.0,2,0,both,both,Mid-range product,Regularly busy,Most orders,9
7,0,1,Chocolate Sandwich Cookies,61,19,5.8,14603,14603,1290456,910,...,10,30.0,1,0,both,both,Mid-range product,Second to Least busy,Most orders,12
8,0,1,Chocolate Sandwich Cookies,61,19,5.8,17065,17065,369558,1052,...,20,19.0,1,0,both,both,Mid-range product,Second busiest busy,Average orders,20
9,0,1,Chocolate Sandwich Cookies,61,19,5.8,17070,17070,589712,1052,...,12,15.0,2,1,both,both,Mid-range product,Second busiest busy,Most orders,20
10,0,1,Chocolate Sandwich Cookies,61,19,5.8,22082,22082,1798115,1379,...,11,0.0,1,0,both,both,Mid-range product,Regularly busy,Most orders,10
11,0,1,Chocolate Sandwich Cookies,61,19,5.8,23713,23713,497193,1480,...,13,7.0,1,0,both,both,Mid-range product,Second to Least busy,Most orders,43
12,0,1,Chocolate Sandwich Cookies,61,19,5.8,23715,23715,1727826,1480,...,13,7.0,3,1,both,both,Mid-range product,Least busy,Most orders,43
13,0,1,Chocolate Sandwich Cookies,61,19,5.8,23716,23716,2694698,1480,...,12,12.0,4,1,both,both,Mid-range product,Regularly busy,Most orders,43
14,0,1,Chocolate Sandwich Cookies,61,19,5.8,23937,23937,3171753,1494,...,10,2.0,8,0,both,both,Mid-range product,Second to Least busy,Most orders,13

In [16]:
ords_prods_merge.head(100)

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0.1,Unnamed: 0_y,order_id,user_id,...,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,exists,price_range_loc,busiest_day,busiest_period_of_the_day,max_order
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,1987,3139998,138,...,11,3.0,5,0,both,both,Mid-range product,Regularly busy,Most orders,32
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1989,1977647,138,...,17,20.0,1,1,both,both,Mid-range product,Regularly busy,Average orders,32
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,11433,389851,709,...,21,6.0,20,0,both,both,Mid-range product,Busiest day,Average orders,5
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,12198,652770,764,...,13,0.0,10,0,both,both,Mid-range product,Second to Least busy,Most orders,3
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,12200,1813452,764,...,17,9.0,11,1,both,both,Mid-range product,Least busy,Average orders,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0,1,Chocolate Sandwich Cookies,61,19,5.8,179480,179480,602103,10831,...,11,23.0,5,0,both,both,Mid-range product,Second to Least busy,Most orders,10
96,0,1,Chocolate Sandwich Cookies,61,19,5.8,184011,184011,49629,11119,...,14,30.0,1,0,both,both,Mid-range product,Second busiest busy,Most orders,23
97,0,1,Chocolate Sandwich Cookies,61,19,5.8,185002,185002,317888,11186,...,16,2.0,8,0,both,both,Mid-range product,Regularly busy,Average orders,26
98,0,1,Chocolate Sandwich Cookies,61,19,5.8,186194,186194,682486,11243,...,13,0.0,2,0,both,both,Mid-range product,Second to Least busy,Most orders,43
99,0,1,Chocolate Sandwich Cookies,61,19,5.8,189258,189258,2861386,11448,...,15,3.0,6,0,both,both,Mid-range product,Regularly busy,Most orders,21

In [17]:
pd.options.display.max_rows = None

In [ ]:
ords_prods_merge.head(100)

In [19]:
#label loyalty customers
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [23]:
ords_prods_merge['loyalty_flag'].value_counts(dropna=False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

In [24]:
#check limited columns
ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0       138  Regular customer            28
1       138  Regular customer            30
2       709      New customer             2
3       764      New customer             1
4       764      New customer             3
5       777  Regular customer            16
6       825      New customer             3
7       910  Regular customer            12
8      1052  Regular customer            10
9      1052  Regular customer            15
10     1379      New customer             1
11     1480    Loyal customer            36
12     1480    Loyal customer            38
13     1480    Loyal customer            39
14     1494  Regular customer             6
15     1494  Regular customer             7
16     1494  Regular customer             9
17     1540  Regular customer             4
18     1540  Regular customer             5
19     1540  Regular customer             6
20     1540  Regular customer             7
21     1540  Regular customer             8
22     1540  Regular customer             9
23     1540  Regular customer            14
24     1540  Regular customer            15
25     1540  Regular customer            18
26     1540  Regular customer            19
27     1540  Regular customer            20
28     1540  Regular customer            21
29     1540  Regular customer            22
30     1540  Regular customer            24
31     1540  Regular customer            25
32     1540  Regular customer            27
33     1540  Regular customer            28
34     1598      New customer             1
35     1598      New customer             2
36     1598      New customer             3
37     1647      New customer             1
38     1647      New customer             4
39     1647      New customer             6
40     1647      New customer             8
41     1647      New customer             9
42     2833      New customer             1
43     2850  Regular customer             7
44     2857  Regular customer            24
45     3010  Regular customer             5
46     3029      New customer             1
47     3395      New customer             4
48     3904      New customer             1
49     4006    Loyal customer             2
50     4006    Loyal customer             3
51     4006    Loyal customer             5
52     4006    Loyal customer             9
53     4006    Loyal customer            12
54     4122  Regular customer            11
55     4141      New customer             2
56     4343      New customer             1
57     4553      New customer             3
58     4845  Regular customer             6
59     6866      New customer             1